<!--
file: nav-bar.component.html
description: ui markup for global navigation bar
author: Mildness Onyekwere - mno5865
-->

<nav class="navbar">
  <div class="branding">
    <h2> <b>MAGMAfy </b> <fa-icon [icon]="faFire"></fa-icon></h2>
    <i class="fa-duotone fa-camera-retro"></i>
  </div>
  <div class="nav-links">
    <!-- menu -->
    <div class="menu">
      <a (click)="goHome()">Home</a>
      <a (click)="goToSongBrowser()">Songs</a>
      <a (click)="goToCollections()">Playlists</a>
      <a (click)="goToFriends()">Friends</a>
      <a (click)="goToProfile()">Profile</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
