<div class="container">

  <div class="friendfinder">
    <h2><b>Fing a Friend to Follow</b></h2>
    <input type="text" placeholder="Enter your friend's email" #friendEmail required>
    <button type="submit" (click)="findFriendByEmail(friendEmail.value)">Search</button>
    <br><br>
    <div class="follow">
      <span>{{friendInfo.username}} </span>
      <button (click)="followUser(userID, friendInfo.userID)">Follow</button>
    </div>
  </div>

  <div class="friendrecs">
    <h3>Check Out Your Following's Top Choices</h3>
    <div class="songs">
      <div *ngFor="let song of topFiftySongs">
        <div class="songView">
          <fa-icon [icon]="faPlay" (click)=listenToSong(song.songId)></fa-icon>
          # {{topFiftySongs.indexOf(song) + 1}} - {{song.songTitle}}
          <div class="songContent">
            By: {{song.artistName}}
            <br>
            {{song.listenCount}} listens
            <br>
            {{convertRuntime(song.runtime)}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="following">
    <h3>Following</h3>

    <div class="collections" *ngFor="let friend of friendList">
      <span id="name" > {{friend.username}} </span>
      <button id="unfollow" (click)="unfollowUser(userID, friend.userID)">Unfollow</button>
      <br><br>
    </div>
  </div>
</div>
