<div id="container">

  <label><b>Create New Collection: </b></label>
  <input type="text" placeholder="Enter Collection Name" #collectionName required>
  <button type="submit" (click)="CreateCollection(collectionName.value)">Create</button>
  <br><br>

  <h2>My Collections</h2>
  <div class="collections" *ngFor="let collection of collectionList">
    <button id="name" (click)="OnClick()"> {{collection.title}} </button>
    <span id="songCount"> Songs: </span>
    <span id="duration"> Duration: </span>
    <br><br>
  </div>
</div>
