/**
 * author: Mildness Onyekwere - mno5865
 */

* {
  font-family: Varela, sans-serif;
  cursor: default;
}

.content {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: black;
  column-gap: 1%;
  padding: 5px;
  text-align: center;
}

.genres {
  grid-column: 1 / 2;
}

.songs {
  grid-column: 2 / 7;
}

.song {

}

