/**
 * author: Mildness Onyekwere - mno5865
 */

* {
  font-family: Varela, sans-serif;
  cursor: default;
}


.content {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  column-gap: 1%;
  padding: 5px;
  text-align: center;
}

.header {
  text-align: center;
}

.genreStuff {
  text-align: center;
  background-color: #F29125;
  border-radius: 10px;
  grid-column: 1 / 2;
}

.songStuff {
  text-align: center;
  background-color: #F29125;
  border-radius: 10px;
  grid-column: 2 / 4;
}

.songs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  row-gap: 2%;
  margin: 2%;
  overflow-y: auto;
  max-height: 100%;
}



.songView {
  grid-column: auto;
  vertical-align: middle;
}

