/**
 * author: Mildness Onyekwere - mno5865
 */

* {
  font-family: Varela, sans-serif;
  cursor: default;
}

html{
  margin:0px;
}

body {
  background-image: linear-gradient(to bottom, black, red);
  margin:0px;
}

