<div id="container">

  <h2 id="name"><b> {{collectionTitle}} </b></h2>
  <div class="modifications" *ngFor="let collection of collectionList">
    <input type="text" placeholder="Enter New Name" #collectionName required>
    <button type="submit" (click)="setTitle(collectionName.value)">Rename</button>
    <br>
    <button id="delete" (click)="DeleteCollection(collectionID)">Delete Collection</button>
  </div>
  <br><br>
  <h3>Songs: </h3>
  <div class="songs" *ngFor="let song of songList">
    <button id="songName"> {{song.title}} </button>
    <button id="deleteSong" (click)="deleteSong(collectionID, song.songId)">Remove</button>
    <span> Time: </span>
    <span> {{durationInfo[song.songId]}} </span>
    <span> min. </span>
    <span> Released: </span>
    <span> {{song.releaseDate}} </span>
    <br><br>
  </div>
  <br><br>

    <br><br>
  </div>
